body{
    margin: 0px;
    background-color: black;
}
.navbar{
    background-color: rgb(232, 104, 12);
    width: 100%;
    height: 5%;
}

.buttons{
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 10px;
    margin: 40px;
    justify-content: center;
}