
body{
    margin: 0px;
    background-color: black;
}
.navbar{
    background-color: rgb(232, 104, 12);
    width: 100%;
    height: 5%;
}
.intro{
    display: flex;
    padding: 10px;
    margin: 20px;
}

h1{
    font-size: 90px;
    color: rgb(232, 104, 12);
    margin-bottom: 0px;
}

ul {
    font-size: 30px;
    font-weight: 500;
    color: rgb(232, 104, 12);
    margin: 0px;
}

li {
    margin: 10px;
}

.headshot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

.headshot img{
    border-radius: 50%;
    height: 450px; width: 400px;
    margin-top: 60.3px;
}

.carosuel{
    padding-top: 20px;
    text-align: center;
    height: 500px;
}

h2{
    font-size: 90px;
    color: rgb(232, 104, 12);
    margin-top: 40px;
    margin-bottom: 40px;
}